<style>
footer a:hover {
  color: #fff !important;
}

</style>


<footer class="bg-dark text-light pt-5">
  <div class="container">
    <div class="row gy-4">

      <div class="col-md-4">
        <h4 class="fw-semibold">NovaYZ</h4>
        <p class="text-secondary mt-3">
          Turning ideas into clean, powerful tech.
        </p>
      </div>

      <div class="col-md-2">
        <h6 class="text-uppercase fw-semibold mb-3">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="/" class="text-secondary text-decoration-none d-block mb-2">Home</a></li>
          <li><a href="/services" class="text-secondary text-decoration-none d-block mb-2">Services</a></li>
          <li><a href="/OurWork" class="text-secondary text-decoration-none d-block mb-2">Our Work</a></li>
          <li><a href="/contact" class="text-secondary text-decoration-none d-block mb-2">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="text-uppercase fw-semibold mb-3">Email</h6>
        <ul class="list-unstyled">
          <li class="text-secondary mb-2">fuzail@gmail.com</li>
          <li class="text-secondary mb-2">Aman@gmail.com</li>
          <li class="text-secondary mb-2">rajaryan@gmail.com</li>
          <li class="text-secondary mb-2">vivek@gmail.com</li>

        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="text-uppercase fw-semibold mb-3">Connect</h6>
        <div class="d-flex gap-3">
          <a href="#" class="text-secondary fs-5"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="text-secondary fs-5"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#" class="text-secondary fs-5"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#" class="text-secondary fs-5"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>

    </div>

    <hr class="border-secondary my-4">

    <div class="text-center small text-secondary pb-3">
      © 2026 NovaYZ. All rights reserved.
    </div>
  </div>
</footer>
