

<div style="min-height:70vh;display:flex;align-items:center;justify-content:center;text-align:center;">
  <div class="container py-5">
    <h1><%= statusCode %></h1>
    <p><%= message %></p>
    <a href="/" class="btn btn-dark mt-3">Go Home</a>
  </div>
</div>
